body {
  background-color: #f0f0f0!important;
}

.main {
  margin-top: 7.5rem;
}

.navbar {
  padding-left: 10px !important;
  padding-right: 10px !important;
}

i.add.large.icon.add-icon {
  margin: 0 !important;
}

.edit-transaction:hover {
  cursor: pointer;
}